body {
   background-color: #16191b;
   font-family: 'Roboto Mono', monospace;
   font-style: normal;
   font-weight: 300;
   color: #fff;
}

#console {
   font-family: 'Roboto Mono', monospace;
   position: relative;
   top:-30px;
   color: #fff;
   word-wrap: normal;
   max-width: 800px;
   width:750px;
   margin-left:auto;
   margin-right:auto;
   font-size:13px;
   line-height: 1.5;
}

.title {
   position: relative;
   max-width: 800px;
   width:750px;
   margin-left:auto;
   margin-right:auto;
   margin-top:80px;
}

.asciiArt {
   color: #fff;
   font-size:13px;
}

.spriteContainer {
    position: relative;
    display: inline-block;
    left: 469px;
    top: -64px;
    z-index: 2;
}

#tip {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    line-height: 1;
    position: absolute;
    top: -60px;
    left: 10px;
    width: 150px;
    height: 50px;

    opacity: 0;
    /* visibility: hidden; */

    /* -webkit-transition: opacity 2s; /* Safari */
    /* transition: opacity 2s; */
}

#sprite {
   position: relative;
   /* top: -64px;
   left: 465px; */
   height: 52px;
   width: 30px;
}

#charizard {
   position: absolute;
   top: -100px;
   left: -100;
   height: 52px;
   width: 58px;
   z-index: 1;
}

#bulbasaur {
   position: absolute;
   top: -100px;
   left: -100;
   height: 32px;
   width: 38px;
   z-index: 1;
}

#squirtle {
   position: absolute;
   top: -100px;
   left: -100;
   height: 30px;
   width: 30px;
   z-index: 1;
}

#pidgeot {
   position: absolute;
   top: -100px;
   left: -100;
   height: 62px;
   width: 62px;
   z-index: 1;
}

#pikachu {
   position: absolute;
   top: -100px;
   left: -100;
   height: 34px;
   width: 36px;
   z-index: 1;
}

#butterfree {
   position: absolute;
   top: -100px;
   left: -100;
   height: 38px;
   width: 52px;
   z-index: 1;
}

a:hover {
   color: #0bc;
}

a {  /*links*/
   color: #fff;
   text-decoration: none;
}
.a { /*terminal green*/
   color: #0f0;
}
.b { /*magenta*/
   color: #ff0096;
}
.c { /*blue*/
   color: #0bc;
}

.error {
   color: #ff0096;
}

.title {
   font-family: courier;
   line-height: normal;
}

.light {
   color: #e2e6e8;
}

.bash {
   color: #0bc;
}
