body {
   background-color: #16191b;
   font-family: 'Roboto Mono', monospace;
   font-style: normal;
   font-weight: 300;
}

#console {
   font-family: 'Roboto Mono', monospace;
   position: relative;
   top:-30px;
   color: #fff;
   word-wrap: normal;
   max-width: 800px;
   width:750px;
   margin-left:auto;
   margin-right:auto;
   // margin-top:100px;
   font-size:14px;
   line-height: 1.5;
}

.title {
   position: relative;
   max-width: 800px;
   width:750px;
   margin-left:auto;
   margin-right:auto;
   margin-top:100px;
}

.asciiArt {
   color: #fff;
   font-size:14px;
}

#sprite {
   position: relative;
   top: -64px;
   left: 500px;
   height: 52px;
   width: 30px;
   z-index: 1;
}

a:hover {
   color: #0bc;
}

a {  /*links*/
   color: #fff;
   text-decoration: none;
}
.a { /*terminal green*/
   color: #0f0;
}
.b { /*magenta*/
   color: #ff0096;
}
.c { /*blue*/
   color: #0bc;
}

.error {
   color: #ff0096;
}

.title {
   font-family: courier;
   line-height: normal;
}

.light {
   color: #e2e6e8;
}

.javaVariable { /*magenta*/
   color: #ff00ff;
}

.javaString { /*blue*/
   color: #00ffff;
}

.bash {
   color: #0bc;
}